<section class="matCard">
    <form (ngSubmit)="onStartTraining(F)" #F="ngForm">

        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>وقتشه شروع کنی </mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>تمرین مورد نظر</mat-label>
                    <mat-select ngModel name="exercise" required>
                        <mat-option *ngFor="let item of exercises" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="F.invalid" type="submit" mat-button>شروع</button>
            </mat-card-actions>
        </mat-card>

    </form>
</section>