.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin{
    margin: 20px;
}


@media (min-width:768px) {
    .welcome{
        flex-direction: row;
    }
}