<div class="welcome">
    <section class="margin">
        <h1>فعالیت کنید</h1>
        <p>هیچی مهم تر از سلامتی نیست و ورزش شاه کلید طول عمر زیاد و یک زندگی سالمه پس تا میتونید فعالیت کنید و به ورزش
            ادامه بدید</p>
    </section>
    <section  class="margin">
        <h1>به اشتراک بذارید</h1>
        <p>میتونید تمرین کنید و نتیجه و پیشرفت خودتون را با دوستانتونبه اشتراک بگذارید تا ان ها هم تشویق بشن با شما ورزش
            را شروع کنن</p>
    </section>
    <section class="margin">
        <h1>به چالش بکشید</h1>
        <p>داخل برنامه ما انواع و اقسام تمرینات مختلف با شدت های مختلف وجود داردکه هر روز با توجه به تواناییتون میتونید
            از انها استفاده کنید</p>
    </section>
</div>