

.toolbar {
    background-color: rgb(49, 49, 164);
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a:hover,
a:active {
    color: rgb(185, 200, 200);
}


.display {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px;
}

.colorwhite {
    color: white;
}



@media (min-width: 768px) {
    .Menu {
        display: none;
    }
}

@media (max-width:768px) {
    .matIcon {
        display: none;
    }
}

@media (min-width:768px) {
    .display {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}