<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>وظایف - TODOS</h1>
        <p class="text-info">
            اینجا میتونید وظایف و کارهاتون رو اضافه و مدیریت کنید
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" (submit)="addTodo()">
            <div class="row">
                <div class="col-md-10 form-group">
                    <input *ngIf="!edit" [(ngModel)]="newTodoTitle" type="text"
                        placeholder="وظایف خودتون رو اینجا اضاف کنید..." name="todoText"
                        class="form-control drop-shadow" />
                    <input *ngIf="edit" [(ngModel)]="editTodoTitle" type="text"
                        placeholder="وظایف خودتون رو اینجا ویرایش کنید..." name="todoText"
                        class="form-control drop-shadow" />
                </div>
                <div class="col-md-2">
                    <button *ngIf="!edit" type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">
                        افزودن
                    </button>
                    <button *ngIf="edit" (click)="upDateTodo()" type="button"
                        class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">
                        ویرایش
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<br />

<div class="row justify-content-center todo-list">


    <div class="col-md-7 todo-item" *ngFor="let todo of todos">
        <div class="card drop-shadow">
            <div class="text-secondary">
                <i class="far todo-status"
                    [ngClass]="todo.completed ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"
                    (click)="completed(todo)"></i>

                {{todo.title}}
            </div>
            <div class="distance"></div>
            <div class="todo-tools">
                <small>
                    <i class="fas fa-pencil-alt text-warning" (click)="editTodo(todo)"></i>
                    <i class="fas fa-trash text-danger" (click)="deleteTodo(todo.id)"></i>
                </small>
            </div>
        </div>
    </div>

</div>