.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .signupForm{
    width: 300px;
} */

mat-form-field{
    width: 300px;
}

.marginTop{
    margin-top: 10px;
}


